{
    "root": true,
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "consistent-return": 0,
        "comma-dangle": 0,
        "no-trailing-spaces": 0,
        "curly": ["error", "multi-line"],
        "no-shadow": ["error", { "allow": ["req", "res", "err"] }],
        "linebreak-style": 0
    }
}